[user]
	email = "sygint@users.noreply.github.com"
	name = "Sygint"

[alias]
	aa = "add -A"
	ap = "add -p"
	b = "branch"
	ca = "commit --amend"
	can = "commit --amend --no-edit"
	cm = "commit -m"
	co = "checkout"
	cob = "checkout -b"
	desc = "!sh -c 'git log --format=format:\"- %s\" --reverse origin/${1:-master}..HEAD' --"
	l = "log --graph --pretty='%Cred%h%Creset - %C(bold blue)<%an>%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)' --abbrev-commit --date=relative"
	pp = "!git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
	pushf = "push --force-with-lease --force-if-includes"
	rba = "rebase --abort"
	rbc = "rebase --continue"
	rbi = "rebase -i"
	rf = "reflog"
	s = "status"
	sl = "stash list"
	sp = "stash pop"
	ss = "stash save"
	unstage = "reset HEAD --"

[core]
	editor = "code"

[fetch]
	prune = true

[log]
	abbrevcommit = true
	decorate = "short"

[pull]
	ff = "only"
	rebase = true

[push]
	autosetupremote = true
	default = "current"

[rebase]
	autosquash = true
	autoupdate = true
	enabled = true
	updaterefs = true

# [help]
	# autocorrect = -1

# [am]
	# threeway = true

# [apply]
	# whitespace = change
