#!/bin/sh

# {{ if ne .chezmoi.osRelease.id "garuda" -}}
#   echo "only Garuda Linux is supported"
#   exit 1
# {{ end -}}

set -eufo pipefail

echo -e "\033[0;32m>>>>> Installing Arch Packages <<<<<\033[0m"

archPackages=(
  # Communications
  signal-desktop
  wire-desktop

  # Web Browsers
  firefox
  chromium
  vivaldi
  brave-bin

  # File Browsers
  nemo

  # Productivity
  obsidian

  # Development
  vscodium
  insomnia

  # Editors
  gedit
  vim

  # Utilities
  fisher
  gnome-disk-utility
  grsync
  meld
  tree
)

for package in ${archPackages[@]}; do
  if [ "$(pacman -Qq $package 2> /dev/null)" != $package ]; then
    echo "installing $package"
    {{ if ne .chezmoi.username "root" -}}
      sudo pacman -S --noconfirm $package
    {{ else -}}
      pacman -S --noconfirm $package
    {{ end -}}
  fi
done

echo -e "\033[0;32m>>>>> Finished Installing Arch Packages <<<<<\033[0m"
