[init]
	defaultBranch = main
[user]
	email = sygint@users.noreply.github.com
	name = syg
[alias]
	sp = stash pop
	s = status
	l = log
	b = branch
	co = checkout
	cob = checkout -b
	cm = commit -m
	can = commit --amend --no-edit
	rbi = rebase -i
	rbc = rebase --continue
	ap = add -p
	rba = rebase --abort
	ca = commit --amend
	rf = reflog
	l = log --graph --pretty='%Cred%h%Creset - %C(bold blue)<%an>%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)' --abbrev-commit --date=relative
	pp = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
	sl = stash list
[core]
	editor = vim
[push]
	autoSetupRemote = true